fastapi
uvicorn
python-multipart
pydantic
opencv-python-headless
numpy
pillow
pytesseract
fastmrz
insightface
onnxruntime           # for CPU
# onnxruntime-gpu     # for GPU (uncomment if you have NVIDIA GPU)
opencv-python-headless
numpy
pillow
torch 
torchvision